body {
  background-image: url(/src/codeBackground2.jpg);
  background-size: cover;
  background-color: rgb(40, 40, 40);
  font-family: "Open Sans", sans-serif;
}

.header {
  position: absolute;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
}

/* .logo,
.welcome {
  flex: 1;
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100; */
}
.logo {
  width: 170px;
  height: auto;
  margin-left: 5px;
  margin-top: -43px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__obj {
  margin-top: -25px;
  margin-right: 20px;
  margin-left: 0px;
  padding-left: 50px;
}

.nav__button {
  border: none;
  font: inherit;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(20, 20, 20);
  width: 180px;
  margin-left: -40px;
  margin-bottom: 15px;
}

.welcome {
  width: 600px;
  height: auto;
  margin-left: 30px;
  margin-top: 10px;
  color: whitesmoke;
}

.title__welcome {
  width: 600px;
  padding-left: 300px;
  font: inherit;
  font-size: x-large;
}

.paragraph__welcome {
  margin-top: 100px;
  font: inherit;
}

.myphoto__img {
  border-radius: 20px;
  position: absolute;
  margin-left: 430px;
  margin-top: -243.5px;
  width: 400px;
  height: auto;
}

.map {
  position: absolute;
  display: flex;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 890px;
  margin-top: -450px;
  /* width: 450px;
  height: 500px; */
  border-radius: 10px;
}

.scroll {
  margin-top: 20px;
  width: 1360px;
  height: auto;
}

@media (max-width: 768px) {
  .header {
    background-color: rgb(28, 28, 28);
    width: 100vh;
    height: 9vh;
  }
  .logo {
    width: 70px;
    height: auto;
    margin-left: 0px;
    margin-top: 5px;
  }
  .nav__button {
    /* border: none; */
    font: inherit;
    font-size: 8px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgb(20, 20, 20);
    width: 60px;
    margin-left: -40px;
    margin-bottom: 15px;
  }

  .welcome {
    width: 220px;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
    color: whitesmoke;
  }

  .title__welcome {
    padding-left: 120px;
    font: inherit;
    font-size: 10px;
  }

  .paragraph__welcome {
    margin-top: 55px;
    font: inherit;
    font-size: 6px;
  }

  .myphoto__img {
    position: absolute;
    margin-left: 135px;
    margin-top: -50px;
    width: 120px;
    height: auto;
  }
}
